footer {
    position: relative;
    display: inline-flex;
    height: 7em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.footer-icons {
    display: flex;
    gap: 2em;
}

footer i {
    flex: 1;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    color: var(--first-color);
}

.footer i,
.footer i:after,
.footer i:before {
    transition: all .5s;
}

.footer i:hover {
    color: var(--third-color) !important;
    transform: scale(1.125);
    transition: .2s ease-out;
}